# KNN is a very simple algorithm used to solve classification problems.
KNN stands for K-Nearest Neighbors. K is the number of neighbors in KNN. 
kNN is a non-parametric and lazy learning technique.
Non-parametric means that it doesn't make any underline assumption on the distribution of data, that is, the model structure is determined from the data.

Lazy learning means that kNN doesn't involve a training phase as in most algorithms. The prediction is made using most(all) of the data and no training has to be done before predicting a sample point.

Due to the above 2 main points, kNNs have a lot of real world applications, name, Anomaly Detection, Spam detection, Credit ratings, OCR etc

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df_train = pd.read_csv(r'C:\Users\dell\Desktop\classical ml algo\mnist_train.csv')
df_train.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df_train.shape[1]

785

In [4]:
print (range(df_train.shape[1]))

range(0, 785)

In [5]:
df_train.columns = range(df_train.shape[1])
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data = df_train.drop([0], axis=1)
labels = df_train[0]

In [7]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
labels.head()

0    5
1    0
2    4
3    1
4    9
Name: 0, dtype: int64

In [9]:
X_train = np.array(data)
y_train = np.array(labels)

In [10]:
X_train.shape, y_train.shape

((60000, 784), (60000,))

In [11]:
df_test = pd.read_csv(r'C:\Users\dell\Desktop\mnist_test.csv')
df_test.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_test.columns = range(df_test.shape[1])
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
data_test = df_test.drop([0], axis=1)
labels_test = df_test[0]

In [14]:
df_test.columns = range(df_test.shape[1])
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
data = df_test.drop([0], axis=1)
labels = df_test[0]

In [16]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
labels.head()

0    7
1    2
2    1
3    0
4    4
Name: 0, dtype: int64

In [18]:
X_test = np.array(data_test)
y_test = np.array(labels_test)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

# create an instance of kNN classifier with k=5
knn = KNeighborsClassifier(n_neighbors=5)

# fit the model using X_train as training data and y_train as target values
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [20]:
# returns the distance of k closest naighbours and their indices
dist, indices = knn.kneighbors(X_test[54].reshape(1,-1))

In [21]:
for i in range(len(indices)):
    print(y_train[indices[i]])

[6 6 6 6 6]

In [22]:
# get the correct label
y_test[54]

6

In [23]:
# returns the mean accuracy on the given test data and labels
knn.score(X_test, y_test)

0.9688

# kNN Algorithm from scratch

In [24]:
from collections import Counter

In [25]:
class KNeighborsClassifier:
    def __init__(self, n_neighbors=5):
        self.n_neighbors = n_neighbors
        self.labels = []
        self.X_train = []
        self.y_train = []
        self.distances = []
        
    def fit(self, X_train, y_train):
        self.X_train = np.array(X_train)
        self.y_train = np.array(y_train)
        
    def euclidean_distance(self, X):
        x = np.array(X)
        distances = []
        for index, data_point in enumerate(self.X_train):
            data_point = np.array(data_point)
            distance = np.linalg.norm(data_point - x)
            distances.append([distance, y_train[index]])
            
        return distances
            
    def get_class_votes(self, distances):
        distances_sorted = sorted(distances)[:self.n_neighbors]
        label = Counter([distance[1] for distance in distances_sorted]).most_common(1)[0][0]
        
        return [label]
    
    def predict(self, X):
        predicted = []
        for element in X:
            distances = self.euclidean_distance(element)
            predicted.append(self.get_class_votes(distances))
        return np.array(predicted)
    
    def score(self, X, y):
        predicted = self.predict(X)
        _y = y.reshape(-1,1)
        checked = np.equal(predicted, _y)
        
        return np.mean(checked)

In [26]:
# create an instance of kNN classifier with k=5
knn = KNeighborsClassifier(n_neighbors=5)

In [29]:

# fit the model using X_train as training data and y_train as target values
knn.fit(X_train, y_train)

In [30]:
# returns the mean accuracy on the given test data and labels
knn.score(X_test, y_test)

0.9693